{% extends 'base.html' %}

{% block content %}
<div>
    <body>
        
    <div class="container mt-3">
        <h2>List of all Categories</h2> 
        <hr>
        <table class="table1 table-bordered">
          <h3>Category list</h3>
          <thead>
            <tr>
                <th>Category_id</th>
                <th>Type</th>
            </tr>
          </thead>
          <tbody>
            {% for one in all_c %}
            <tr>
              <td>{{one['category_id']}}</td>
              <td>{{one['type']}} </td>
              <td>
              <form method="post" action="/categorydelete">
                <input type="hidden" name="category_id" value="{{ one.category_id }}">
                <button type="submit" class="btn btn-primary">Delete</button>
              </form>
              </td>
              <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#demo">Edit</button>
                <div id="demo" class="collapse">
                    <form method="post" action="/categoryedit">
                        <input type="hidden" name="category_id" value="{{ one.category_id }}">
                        <label for="user_input">Type something:</label>
                        <input 
                                type="text" 
                                id="new_category" 
                                name="new_category" 
                                placeholder="new category name"
                            />
                        <input type="submit" value="Submit">
                        <!-- <button type="submit" class="btn btn-primary">Edit</button> -->
                    </form>
                </div>
              </td>
            </tr>
            {%endfor%}
        </table>
        <hr>
    </div>
    </body>
</div>
{% endblock %}



{% block home %}
{%endblock%}

{% block cart %}
{%endblock%}

{% block categorylist %}
{%endblock%}

{% block categorydelete %}
{% endblock %}