{%extends "base.html"%}
{%block title%}Home{%endblock%}

{%block content%}
<div class="container-fluid p-3 bg-dark text-white text-center">
    <h2>Grocery Store</h2>
    <p>Cruise through the products which amuses before you choose<p>
</div>
<div class="container mt-5">
    <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary btn-block">Full-Width Button</button>
        <button type="button" class="btn btn-primary btn-block">Full-Width Button</button>
      </div>
    </div>
</div>
{%endblock%}
