{%extends 'base.html'%}
{%block title%}select what to do {%endblock%}

{%block content%}
<div class="container-fluid" align="center">
<form method="POST">
<div class="form-group">
    <h3>Select what you want to do</h3>
    <br>
    <a href="/adminadd" class="btn btn-primary">Add category</a>
    |
    <a href="/admindelete" class="btn btn-primary">Delete category</a>
    |
    <a href="/categories" class="btn btn-primary">Categories</a>
</div>
</div>
</form>
{%endblock%}

{% block cart%}
{% endblock %}

{% block home %}
{% endblock %}

{% block categoryadd %}
{% endblock %}

{% block categorydelete %}
{% endblock %}