{%extends "base.html" %}
{%block content%}
  <h1>Your Cart</h1>
  <table>
    <thead>
      <tr>
        <th>Product Name</th>
        <th>|Quantity|</th>
        <!-- Add other columns as needed -->
      </tr>
    </thead>
    <tbody>
      {% for cart_entry in user_cart_entries %}
        <tr>
          <td>{{ cart_entry.product_name }}</td>
          <td>{{ cart_entry.quantity }} </td>
          <td>
            <form method="post" action="/cartdelete">
              <input type="hidden" name="cart_id" value="{{ cart_entry.cart_id }}">
              <button type="submit" class="btn btn-primary">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{%endblock%}


