{%extends "base.html"%}
{%block title%}Home{%endblock%}

{%block content%}
<div class="container-fluid p-3 bg-dark text-white text-center">
    <h2>Grocery Store</h2>
    <p>Cruise through the products which amuses before you choose<p>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="static/tomato.jpg" alt="potato image" style="width:100%">
                <div class="card-body">
                    <h4>Tomato</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ullam nemo odio eligendi saepe architecto maiores numquam modi provident voluptatibus possimus a soluta minus, maxime eveniet quo officia aut nam?</p> 
                    <button type="submit" class="btn btn-primary">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="static/potato.jpg" alt="potato image" style="width:100%">
                <div class="card-body">
                    <h4>Potato</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ullam nemo odio eligendi saepe architecto maiores numquam modi provident voluptatibus possimus a soluta minus, maxime eveniet quo officia aut nam?</p> 
                    <button type="submit" class="btn btn-primary">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="static/green_chilli.jpg" alt="potato image" style="width:100%">
                <div class="card-body">
                    <h4>Green Chilli</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ullam nemo odio eligendi saepe architecto maiores numquam modi provident voluptatibus possimus a soluta minus, maxime eveniet quo officia aut nam?</p> 
                    <button type="submit" class="btn btn-primary">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="static/onion.jpg" alt="potato image" style="width:100%">
                <div class="card-body">
                    <h4>Onion</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ullam nemo odio eligendi saepe architecto maiores numquam modi provident voluptatibus possimus a soluta minus, maxime eveniet quo officia aut nam?</p> 
                    <button type="submit" class="btn btn-primary">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
