{%extends "base.html"%}
{%block title%}Home{%endblock%}

{%block content%}
<div class="container-fluid p-3 bg-dark text-white text-center">
    <h2>Grocery Store</h2>
    <p>Cruise through the products which amuses before you choose<p>
</div>
<div class="container mt-5">
    <div>
        <form method="POST">
            <div class="form-group">
                <label for="password2">Enter your product of interest</label>
                <br>
                <input 
                    type="text" 
                    class="form-control" 
                    id="category_id" 
                    name="category_id" 
                    placeholder="Enter the id near the product name"
                />
                <br>
                <input 
                    type="text" 
                    class="form-control" 
                    id="product_name" 
                    name="product_name" 
                    placeholder="Enter the product name"
                />
                <br>
                <input 
                    type="integer" 
                    class="form-control" 
                    id="quantity" 
                    name="quantity" 
                    placeholder="Enter the quantity of product required"
                />
                <br>
            </div>
            <button type="submit" class="btn btn-primary">Add to cart</button>
        </form>
    </div>
<br>
<br>
    {% for c,p in all_data %}
    
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">{{c.type}} </h4>
            <p class="card-text">{{c.category_id}} {{p.product_name}} </p>
          </div>
        </div>
        <br>
    
    {%endfor%}
      
 
</div>
{%endblock%}
